body{
    font-family: 'Charis SIL', serif;
font-family: 'Joan', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Trispace', sans-serif;
background-color: darkgrey;
}
.card{
    background-color: cadetblue;
}